
<head>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
  <script type="text/javascript" src={{ url_for('static', filename='main.js') }}></script>

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


  <!--Navigation Bar-->
  <div class="navbar">
    <div class="square"></div>​
    <div class="companyname">
      <div id="killumcolor">KILLUM</div>
      <div id="pestcontrolscottsdalecolor"> Pest Control Scottsdale LLC</div>
    </div>
    <div class="links">
      <a href={{ url_for('index') }}>home</a>
      <a href="#about">about</a>
      <a href={{ url_for('services') }}>services</a>
      <a href={{ url_for('contact') }}>contact</a>
      <a href={{ url_for('testimonials') }}>testimonials</a>

    </div>
    <div class="contactinfo">
      <div class="contactinfodiv">Contact Info:</div>
      <div class="phone">+1(480) 466-9696</div>
      <div class="email">azpests@gmail.com</div>
      <div class="license">License #9690</div>
    </div>
  </div>


  <div class="video-container">
    <video autoplay muted loop>
      <source src={{ url_for("static", filename='bees.mp4') }} type="video/mp4">
    </video>
  </div>

</head>

<body>



<div class="testimonialblock">
  <div class="content">
    <h3>Get an Estimate</h3>
    <div class="container">
      <form id="estimateform" action="/submitted" method="post">

      <label for="fname">Name:</label>
      <input type="text" id="fname" name="name" placeholder="Enter your name here">

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" placeholder="Enter your email here">

      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" placeholder="Enter your phone here">

      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" placeholder="Enter your subject here">

      <label for="message">Message:</label>
      <textarea id="message" name="message" placeholder="How can Killum Pest Control help you?" style="height:200px"></textarea>

      <input id="submit" type="submit" value="Submit" onclick = "submitform()">

      </form>
    </div>
  </div>
</div>


</body>
