
<head>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
  <script type="text/javascript" src={{ url_for('static', filename='main.js') }}></script>

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


  <!--Navigation Bar-->
  <div class="navbar">
    <div class="square"></div>​
    <div class="companyname">
      <div id="killumcolor">KILLUM</div>
      <div id="pestcontrolscottsdalecolor"> Pest Control Scottsdale LLC</div>
    </div>
    <div class="links">
      <a href="index.html">home</a>
      <a href="#about">about</a>
      <a href="services.html">services</a>
      <a href="contact.html">contact</a>
      <a href="testimonials.html">testimonials</a>

    </div>
    <div class="contactinfo">
      <div class="contactinfodiv">Contact Info:</div>
      <div class="phone">+1(480) 466-9696</div>
      <div class="email">azpests@gmail.com</div>
      <div class="license">License #9690</div>
    </div>
  </div>


  <div class="video-container">
    <video autoplay muted loop>
      <source src="C:\Users\Seth B\Desktop\Web Dev\bees.mp4" type="video/mp4">
    </video>
  </div>

</head>

<body>



<div class="servicesblock">
  <div class="content">
    <h3>Pest Control Pricing:</h3>
    <p>
          Pricing varies on the Pest and Rodent Control Services and the square footage of the home or business and the problems the property is having.  Please call for an estimate.
    </p>
    <table>
      <tr>
        <th>Service</th>
        <th>Price</th>
      </tr>
      <tr>
        <td>Any Service Call</td>
        <td>$49.00 minimum</td>
      </tr>
      <tr>
        <td>First Time Service</td>
        <td>$99-$499 intensive</td>
      </tr>
      <tr>
        <td>Monthly Service</td>
        <td>$49-$299</td>
      </tr>
      <tr>
        <td>Bi-Monthly</td>
        <td>$79-$399</td>
      </tr>
      <tr>
        <td>Rodents</td>
        <td>$199-$600</td>
      </tr>
      <tr>
        <td>Bait Station & Bait</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Bait Station Refill</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>Scorpions</td>
        <td>$79-$499</td>
      </tr>
      <tr>
        <td>Infestation</td>
        <td>$189-$499</td>
      </tr>
      <tr>
        <td>Bee Removal</td>
        <td>$199-$2000</td>
      </tr>
      <tr>
        <td>Home Resealing</td>
        <td>$800-$2500</td>
      </tr>
      <tr>
        <td>Termites</td>
        <td>$200-$5000</td>
      </tr>
    </table>
    <p>
      First time home pest control services  includes Cockroach bait under all sinks and Pesticide dusting,  plus all interior baseboards sprayed with a non odor pesticide.  We also spray behind the refrigerator, laundry machines, dish washer and stove.  The outside of the home includes the garage and the entire linear foundation, and  the entire Perimeter of the property to ensure a Pest free environment.  In the rocky areas of the landscape we use a Granule pesticide to control pests all the way down the soil. I also dust or Spray the block wall cracks and  inside water the meter and irrigation covers.  This treatment  is one of the most complete in the Valley.

Monthly Services do not include the interior of the property unless Pest problems are still occurring.  If a retreatment of the inside is necessary it would be included in the monthly fee.

Rodent Control Service requires us to stop by your home a few times  to eradicate the Pests.  My system is complete and works fantastic!  KPCS cannot be responsible for where the poisoned Rodent dies, an additional service fee will apply whether we are successful or not in finding the dead rodent.

Beehive removal can be very difficult and expensive.  I am very carful to minimize the structure damage that may occur during the removal of the Beehive.  My fee's do not include the repairs necessary to repair your home or business.  All repairs are the responsibility of the Business or Home owner since we are not  Licensed Contractors.

All services are guaranteed for thirty days from the date of treatment.
    </p>
    </div>
  </div>
</div>


</body>
